* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fidena', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    background: #EEEEEE;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #8300E6;
    border-radius: 7px;
}

::placeholder {
    font-family: 'Fidena', sans-serif;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;

    background: transparent;
    z-index: 5;
}

header .container-h {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #FFF;
    box-shadow: 0 1px 15px #D5D5D5;

    width: 100%;
}

.logo-hotel-manaus {
    width: 150px;
    height: 70px;
    object-fit: cover;
    object-position: 0 -40px;
}

.nav {
    width: 450px;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
}

.modal-user {
    position: absolute;
    top: 6rem;
    width: 147px;
    left: 140.5rem;
    /* padding: 30px; */
    background: #FFF;
    border: 1px solid #4e00cc;
    border-radius: 15px;
    display: none;
}

.modal-user div {
    text-align: center;
}

.modal-user div:last-child {
    margin-bottom: 0px;
}


.modal-user div div {
    padding: 15px;
    border-radius: 15px;
}

.modal-user div div a {
    font-size: 16px;
    width: 70px;
    border-radius: 5px;
    border: none;
    color: #444;
    background: none;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;

    transition: .5s ease;
}

.modal-user div div:hover {
    background: #4e00cc !important;
    color: #fff !important;
}

.modal-user div div:hover a {
    color: #fff !important;
}

.nav ul li {
    letter-spacing: 2px;
}

.nav ul li a,
.nav ul li:hover select {
    color: #444;
    transition: ease .2s all;
}

.nav ul li:hover a,
.nav ul li:hover select {
    color: #8300E6;
}

.nav ul li #idioma {
    cursor: pointer;
}

#idioma {
    border: none;
    outline: none;
}

#idioma option {
    padding: 50px;
}

/* Pesquisa de hotéis */

.hotels-search {
    height: 200px;
    background: #8300E6;
}

.container-hs {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

    padding: 15px;
    width: 70%;
    height: 35%;
}

.container-hs h2 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-left: 10px;
}

.container-hs input {
    font-size: 16px;
    padding: 12px 28px 12px 12px;
    border-radius: 5px;
    border: 1px solid #CDCDCD;
}

.container-hs .campos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-hs .destino {
    width: 350px;
    float: left;
}

.container-hs .room-hos {
    float: left;
    outline: none;
    cursor: pointer;
}

#check-in, #check-out {
    width: 275px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-hs .campos .bi-geo-alt,
.container-hs .campos .bi-people {
    font-size: 24px;
    float: left;
    margin: 5px 0px 0px -30px;
}

.container-hs .campos .periodo {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.modal-rp {
    position: absolute;
    top: 7rem;
    left: 95.5rem;
    padding: 30px;
    background: #FFF;
    border: 1px solid #4e00cc;
    border-radius: 15px;
    display: none;
}

.modal-rp input {
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid #CDCDCD;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-align: center;
}

.modal-rp label {
    font-size: 20px;
    letter-spacing: 2px;
}

.container-hs .pesquisar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #000;
    border: 1px solid #000;
    color: #FFF;
    padding: 12px;
    text-shadow: 0 0 15px rgba(0, 0, 0, .9);
    cursor: pointer;
    transition: .5s ease;
}

.container-hs .pesquisar:hover {
    border: 1px solid #8300E6;
    box-shadow: 0 0px 10px #8200e693;
    background: #8300E6;
}


.list-hoteis {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background: #eeeeee;
}

/* Filtro */
.list-hoteis .filtros {
    font-size: 20px;
    letter-spacing: 2px;
}

.list-hoteis .filtros .top-filtro {
    display: flex;
    align-items: center;
}

.list-hoteis .filtros .top-filtro h2 {
    margin-right: 2rem;
}

.list-hoteis .filtros .top-filtro a {
    color: #888;
    transition: .5s;
}

.list-hoteis .filtros .top-filtro a:hover {
    color: #000;
}

.list-hoteis .filtros .body-filtro {
    margin-top: 2rem;
}

.list-hoteis .filtros .body-filtro input {
    accent-color: #4e00cc;
}

.list-hoteis .filtros .body-filtro .preco {
    margin-top: 2rem;
}



/* Hotéis */

.list-hoteis .hoteis {
    width: 65%;
}

.container-hoteis .top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px;
}


.recomendacao {
    background: #8300E6;
    padding: 15px 100px;
    border-radius: 15px;
    color: #FFF;
    letter-spacing: 2px;
    cursor: pointer;
    margin-right: 15px;
    transition: .5s ease;
    text-align: center;
}

.menor-preco {
    background: #38b6ff;
    padding: 15px 100px;
    border-radius: 15px;
    color: #000;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s ease;
    text-align: center;
}

.recomendacao:hover,
.menor-preco:hover {
    box-shadow: 0 7px 25px rgba(0, 0, 0, .2);
}

/* Lista */

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista .hotel-1 {
    display: flex;
    width: 70%;
    height: 300px;

    font-size: 20px;
    letter-spacing: 2px;

    background: #FFF;
    border-radius: 15px;
    margin-bottom: 5rem;
    cursor: pointer;
    transition: .5s ease;
}

.lista .hotel-1:hover {
    box-shadow: 0 7px 15px rgba(0, 0, 0, .2);
}

.lista .hotel-1 .foto {
    width: 45%;
    height: 100%;
    background-image: url(../imgs/hotel-rj/quarto-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.lista .hotel-1 .informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.lista .hotel-1 .informacoes .info-top {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.lista .hotel-1 .informacoes .info-top .info-detalhes {
    line-height: 40px;
}

.lista .hotel-1 .informacoes .info-top .info-detalhes .avaliacao {
    line-height: 20px;
}

.lista .hotel-1 .informacoes .info-top .precos {
    text-align: center;
}

.lista .hotel-1 .informacoes .info-top h5 {
    color: #444;
}

.lista .hotel-1 .informacoes .info-top h6 {
    color: #888;
}

.lista .hotel-1 .informacoes .info-bottom {
    text-align: center;

    background: #000;
    color: #FFF;
    font-size: 17.9px;
    border-bottom-right-radius: 15px;
}






/* Sessão Newsletter */

.newsletter {
    background: linear-gradient(to right, #8300E6, #4e00cc);
    padding: 50px;
    margin-top: 70px;
}

.newsletter .container-n {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter .container-n .title-n h2 {
    color: #FFF;
    font-size: 28px;
    letter-spacing: 2px;
}

.newsletter .container-n .campos-n {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    margin-top: 12px;
}

.newsletter .container-n .campos-n input {
    padding: 12px;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;

    outline: none;
}

.newsletter .container-n .campos-n input[type="text"] {
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.newsletter .container-n .campos-n .eu_quero {
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;

    cursor: pointer;
    transition: .5s ease;
}

.newsletter .container-n .campos-n .eu_quero:hover {
    background: #000;
    border: 1px solid #000;
}



/* Footer */

.container-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.container-f .top-f {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-f .top-f .logo-f img {
    width: 390px;
    height: 182px;
    object-fit: cover;
    object-position: 0 -95px;
}

.container-f .top-f .pax-info {
    font-size: 18px;
    letter-spacing: 2px;
    color: #444;
}

.container-f .main-f {
    margin-top: 1rem;
}

.container-f .main-f a {
    font-size: 35px;
    color: #444;
    padding: 6px 12px;
    transition: .9s ease;
}

.container-f .main-f a:hover {
    color: #4e00cc;
}

.container-f .bottom-f {
    font-size: 12px;
    letter-spacing: 4px;
    color: #444;

    padding: 51px;
}


/* Modal - Login */

.modal-login {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);

    display: none;
}

.container-ml {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 45%;
    height: 45%;
    
    background: #FFF;
    border: 5px solid #4e00cc;
    box-shadow: 0 7px 15px #4e00cc;
    background-position: 0 220px;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.container-ml .imagem-ml {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-ml .imagem-ml img {
    object-fit: cover;
}

.container-ml h2 {
    font-size: 25px;
    letter-spacing: 2px;
}

.container-ml .campos-ml {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
}

.container-ml .campos-ml input {
    font-size: 16px;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, .3);
    letter-spacing: 2px;
    width: 350px;

    margin-top: 10px;
}

.container-ml .campos-ml input:focus {
    outline: 1px solid #8300E6;
}

.container-ml .campos-ml input:focus cursor {
    color: #8300E6;
}

.container-ml .campos-ml .entrar {
    background: #8300E6;
    color: #FFF;
    border: none;
    cursor: pointer;
    transition: all .5s ease;
}

.container-ml .campos-ml .entrar:hover {
    background: #4e00cc;
}

.container-ml .campos-ml .novo {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 15px;
}

.container-ml .campos-ml .novo a {
    color: #8300E6;
    margin-left: 15px;
    transition: .5s ease;
}

.container-ml .campos-ml .novo a:hover {
    color: #444;
}

.modal-construcao {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);

    display: none;
}

.container-mc {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
    width: 45%;
    height: 45%;
    
    background: #FFF;
    border: 5px solid #4e00cc;
    box-shadow: 0 7px 15px #4e00cc;
    background-position: 0 220px;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.container-mc .imagem-mc {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.container-mc .imagem-mc div {
    margin: auto;
}

.container-mc .imagem-mc div img {
    width: 200px;
}

.container-mc h2 {
    font-size: 25px;
    letter-spacing: 2px;
}

.container-mc .mc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
    font-size: 50px;
    letter-spacing: 2px;
}